/*.g-bg{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
}*/
.g-bg{
	background-color: rgba(12,12,37,0.9);
}
ul,ol{
	list-style: none;
}
body,html{
	height: 100%;
}
.g-wrap{
	display: flex;
	height: 100%;
}
.left-cont{
	flex-grow: 1;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
}
.center-cont{
	flex-grow: 1;
	width: 50%;
	align-items: flex-end;
	height: 100%;
}
.right-cont{
	flex-grow: 1;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
}
.left-cont>div,
.center-cont>div,
.right-cont>div{
	position: relative;
}
.left-cont>div{
	width: 100%;
	height: 33.33%;
	padding: 5px;
}
.center-cont>div:first-child{
	width: 100%;
	height: 33.33%;
	padding: 5px;
}
.center-cont>div:last-child{
	width: 100%;
	height: 66.67%;
	padding: 5px;
}
.right-cont>div{
	width: 100%;
	height: 33.33%;
	padding: 5px;
}
.g-top{
	position: relative;
}
.g-top time{
	display: block;
	text-align: right;
	color: #fff;
}
.g-top h1{
	color: #ff9900;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	
}

#main,
#left-bar,
#left-pie,
#left-line,
#right-dashboard,
#right-bar,
#right-line,
.dashboard{
	width: 100%;height:100%;border: 1px solid #4e4f66;
	box-shadow: 0px 0px 5px 2px #4e4f66 inset;
}


.linealt:before{
	content: '';
	display: block;
	width: 2px;
	height: 10px;
	background-color: #afbdca;
	position: absolute;
}
.linealt:after{
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	background-color: #afbdca;
	position: absolute;
}
.line1:before,
.line1:after{
	top: 5px;
	left: 5px;
}
.line2:before,
.line2:after{
	top: 5px;
	right: 5px;
}
.line3:before,
.line3:after{
	bottom: 5px;
	left: 5px;
}
.line4:before,
.line4:after{
	bottom: 5px;
	right: 5px;
}
.dashboard{
	color: #fff;
	text-align: center;
	
}
.dashboard h4{
	font-weight: 900;
}
.dashboard>div{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: red
}
